<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Stub</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="js/index.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="css/index.css">

<!---fonts--->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">


  <nav class="navbar navbar-dark navbar-custom">

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img src="images/Stub_copy.png" width="60" height="60" alt="">
      </a>

      </div>
        <ul class="navbar navbar-dark navbar-right">
          <!-- 6 -->
          <a class="navLinks home" href="/">home</a>
          <a class="navLinks lists" href="/">lists</a>
          <a class="navLinks settings" href="/">settings</a>
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <a class="navLinks signup" href="/">log in</a>

        </ul>

    </div>

  </nav>

  <body class="text-center">
