body {
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
    color: white;
    background-color: #4B4C4D;
    scroll-behavior: smooth;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
}

#loginImage{
  border-radius: 50%;
}

#fbImage{
  border-radius: 50%;
  object-fit: cover;
  height: 50px;  
  width: 50px;
  position:absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
.button {
  background-color: transparent;
  border-color: transparent;
  align-items:center;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  
}
.button:focus{
  outline: none;
  box-shadow: none;
}

