body {
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
    color: white;
    background-color: #4B4C4D;
    scroll-behavior: smooth;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}