.mainDisplay {
    margin: 20px;
    background-color:#222831;
    border-radius: 25px;
    border: 0px;
    overflow: hidden;
}

.tableDisplay {
    border: 0px;
}

.textDisplay {
    padding-right: 10px;
}

.posterDisplay {
    border: 0px;
}

.deleteButtonDisplay {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0px;
    height: 40px;
    width: 40px;
    padding-right: 10px;
    padding-top: 5px;
    background-color: #222831;
}

.divTitleAndDelete {
    display: flex;
    justify-content: space-between;
}