
/* Drop button object for jsx */
/* .editButton{
  width: 100%;
  border: 2px solid black;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  background-color: inherit;
} */


/*drop down window*/
/* .editMenuContent{
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

.dropdownLink {
  color: black;
  text-decoration: none;
  display: block;
  
}

.dropdownLink:hover {
  color: black;
  text-decoration: none;
}

/* Displays dropdown once hovering mouse */
.editButton:hover {
  display: block;
}

/* should be done in edit hover  */
.dropdown:hover .editMenuContent {
  display: block;
}

.homeLists{
  padding-top: 10px;
}

.dropdown:hover .addListContent {
  display: block;
}

.addListButton {
  border:none;
  cursor: pointer;
  background-color: rgb(181, 24, 24);
  text-align: center;
}

.addListContent {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.addListTextField {
  margin: 10% 10%;
  height: 50px;
}

.addListSubmit {
  display: block;
  margin: 5px 10%;
  color: rgb(181, 24, 24);
  background-color: white;
  box-shadow: 0px;
  width: 80%;
  position: center;

}

.listPageHeading{
  text-align: center;
}

/*---------------------------------------*/
.titleOfList{
  text-align: center;
  padding: 20px;
}

.listContent{
  /* background-color: 	#954535; */
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.listMovieInfo{
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: top;
}

.moviePosterList{
  border-radius: 20px;
  /* margin-left: 20px; */
}
.titleMovie{
  font-size: 30px;
  padding-right: 10px;
}
.taglineMovie{
  font-size: 15px;
}

.listButtonImages{
  width: 100%;
}

.listImagePosters{
  /* padding-right: 30px; */
  /* float: left; */
  width: 33.333%;
  height: 200px;
  object-fit: cover;
}

.listHeader{
    text-align: center;
    z-index: 100;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: contents;
}

.listButton{
  width: 100%;
  height: 100%;
  background-color: #C1111F;
  display: flex;
  text-align: center;
}

.areaOfButton{
  height: 100%;
  position: relative;

}

.listHeaderDiv{
  /* display: inline; */
}

.dropdown {
  position: relative;
  float: right;
  height: 100%;
  width: 100%;
  /* width: 10%; */
}


.listItem{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.link-list{
  width: 100%;
}
.editingBtn{
  height: 50%;
}

.editButtons{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.listsLayout{
  display: flex;
}

.edit-btn{
  background-color: #008CBA;
  width: 50%;
  border: none;
}

.delete-btn{
  background-color: #f44336;
  width: 50%;
  border: none;
}

.listname-info{
  width: 100%;
  /* z-index: 1000; */
  position: absolute;
  height: 40px;
  bottom: 25px;
  padding-top: 5px;
  background-color: rgb(0,0,0,0.75);
}

.listPageHeader{
  display: flex;
  justify-content:space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.StreamingListBtn{
  padding-bottom: 20px;
}

.defaultImagePoster{
  width: 100%;
}

.editModal{    
position: absolute;
inset: 250px;
border: 1px solid #212529;
background: rgba(60,60,60);
overflow: auto;
border-radius: 4px;
outline: none;
padding: 10px;
}

.updateNewName{
  background: #C1111F;
  position: relative;
  display: block;

}