.listItem{
  height: 50px;
  background-color: red;
  margin: 50px;
  border-radius: 8px;
}

.listHeader{
  /* padding-left: 20px; */
  padding: 10px 30px;
}
/*Drop button object for jsx */
.editButton{
	padding: 10px 10px;
	position: relative; bottom: 48px; right: 20px;
	float: right;
  background-image: url('../../images/edit-icon.png') no-repeat 0 0;
}

/*drop down window*/
.editMenuContent{
  display: none;
  position: absolute;
  float: right;
  background-color: #fdf0d5;
  /* min-width: 75px; */
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index:1;
}
/* Displays dropdown once hovering mouse */
.editButton:hover {
  display: block;
  background-color: rgb(181, 24, 24);
}

/* should be done in edit hover  */
.listItem:hover .editMenuContent {
  display: inline-block;
}

.homeLists{
  padding-top: 50px;
}


/*----------------------------------------------------------------------------*/

.titleOfList{
  text-align: center;
  padding: 20px;
}

.listContent{
  /* background-color: 	#954535; */
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.listMovieInfo{
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: top;
}

.moviePosterList{
  border-radius: 20px;
  margin-left: 20px;
}
.titleMovie{
  font-size: 30px;
  padding-right: 10px;
}
.taglineMovie{
  font-size: 15px;
}

.listButton{
  background-color: #9D1C41; /* Green */
  color: white;
  border-radius: 10px;
  text-align: center;
}

.listButton:hover{
  background-color: #A42F51;
   text-decoration: none;
}

a:hover { text-decoration: none; }

/* link dropdown specification
.editMenuContent {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
