<%-include('partials/header.ejs')-%>

<!--Home-->
<div class="welcome-section container-fluid" id="home">
  <div class="row main-text">
    <div class="col-3 col-sm-12">
    </div>
    <div class="col-3 col-sm-12">
    </div>
    <div class="col-3 col-sm-12">
    </div>
  </div>
</div>

<%-include('partials/footer.ejs')-%>
