<%-include('partials/header.ejs')-%>
<div class="movie">
  <h1>Inception</h1>
  <img src="images/InceptionPoster.jpg" alt="Inception Poster" width="148" height="263.11">
  <p>A thief who steals corporate secrets through the use of dream-sharing technology is
    given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.</p>
  <h2>Starring: Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page</h2>
</div>
<div class="recommendedMovies">
  <div class="listed">
    <img src="images/matrix.jpeg" alt="matrix poster" width="263.11" height="148">
    <img src="images/paddington.jpeg" alt="matrix poster" width="263.11" height="148">
    <img src="images/interstellar.jpg" alt="matrix poster" width="263.11" height="148">
    <img src="images/thor.jpeg" alt="matrix poster" width="263.11" height="148">
  </div>
  <div class="listed">
    <img src="images/matrix.jpeg" alt="matrix poster" width="263.11" height="148">
    <img src="images/paddington.jpeg" alt="matrix poster" width="263.11" height="148">
    <img src="images/interstellar.jpg" alt="matrix poster" width="263.11" height="148">
    <img src="images/thor.jpeg" alt="matrix poster" width="263.11" height="148">
  </div>
</div>
<%-include('partials/footer.ejs')-%>
