

html, body {
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  color: white;
  background-color: #4B4C4D;
  scroll-behavior: smooth;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #232424;
}
.active {
  font-weight: 600;
}
.navbar-nav {
  padding-right: 2rem;
}
.nav-link {
  font-size: 1em !important;
  padding-left: 2.5rem !important;
  color: white;
}
.navbar-toggler {
  border-color: white !important;
  border-width: 2px;
}
.nav-link:hover {
  color: white;
}
.nav-item {
  text-align: right;
  text-decoration: none;
}
.logo {
  height: auto;
  width: 6rem;
}

.titleHeader{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---Media Queries --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media (max-width: 992px) {
  .navbar {
    padding: 2rem;
  }
  .navbar-nav .nav-link {
    padding-right: 2rem;
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding-right: 1rem;
    color: white !important;
  }
}
@media (max-width: 320px) {
}
