body {
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #ff0000;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
}

.navbar-custom {
    background-color: #b20000;
}

.nav-color {
  color: #b20000;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
  padding-top: 25px;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #b20000;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.signup {
  color: #fff;
  font-size: 12px;
}

.signup:hover{
  color:#fff;
  font-size: 20px;
  text-decoration: none;
}
