.listItem{
  height: 50px;
  background-color: red;
  margin: 100px;
  border-radius: 8px;
}

.listHeader{
  /* padding-left: 20px; */
  padding: 10px 30px;
}


/*Adding edit button*/
.button{
  padding: 10px 10px;
  position: absolute;
  float: right;
  /* background-image: ; */
}
