.scrollTitle{
    padding-top: 20px;
    padding-left: 20px;
}

    .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
   }
   .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
   }
   .wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
   }
   .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
   }
   .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
   }
   .wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
   }
   .wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
   }
   @media only screen and (max-width: 600px) {
    a.arrow__btn {
    display: none;
    }
   }

/* .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }

  .scrollTitle{
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #990000;
    margin: 50px 0;
    height: 200px;
    text-align: left;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #890000
    ;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .card img {
    margin: 30px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  .bottom {
    margin-top: 120px;
  }
  
  .info {
    margin: 20px 0;
    color: #1a7e76;
  }
   */