.listItem{
  height: 50px;
  background-color: red;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
}

.listHeader{
  /* padding-left: 20px; */
  padding: 10px 30px;
}

.dropdown {
  position: relative;
  float: right;
  height: 100%;
}

/*Drop button object for jsx */
.editButton{
  border: none;
  height: 100%;
  cursor: pointer;
}

/*drop down window*/
.editMenuContent{
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownLink {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdownLink:hover {
  background-color: rgb(181, 24, 24);
  color: black;
  text-decoration: none;
}

/* Displays dropdown once hovering mouse */
.editButton:hover {
  display: block;
  background-color: rgb(181, 24, 24);
}

/* should be done in edit hover  */
.dropdown:hover .editMenuContent {
  display: block;
}

.homeLists{
  padding-top: 50px;
}

